<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Express Application</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur totam ducimus expedita eius, ab iste! Facilis repellat, odit voluptatibus inventore totam molestias repellendus asperiores dolor. Deserunt unde harum voluptatem quo tempora libero odit explicabo cumque quod doloremque ab neque dignissimos totam vero, labore, aut necessitatibus sunt! Illo labore minima deserunt repellendus necessitatibus temporibus perferendis ipsa, unde distinctio? Quos nemo, laborum ducimus accusantium perferendis iste est officiis error harum labore modi, dolore aliquid dolorem voluptatem cumque provident inventore sint fuga voluptatibus! Natus eum incidunt eligendi, ipsum quisquam inventore laborum officiis consequatur ullam nulla quis alias voluptatem totam enim ipsa impedit? Similique.</p>
    <img src="./images/1.jpg" alt="">

    <script>
        document.querySelector("h1").addEventListener("click",()=>{
           document.querySelector("h1").style.backgroundColor="blue"
        })
       /*  fetch("/users.json")
        .then(res=>res.json())
        .then(users=>{
            const div = document.createElement("div")
            const h1= document.createElement("h1")
            h1.innerText = users[0]
        }) */
    </script>
</body>
</html>